@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, 1);
}

:root {
  --bg-black: rgba(0, 0, 0, 0.8);
  --black-color: #000;
  --white-color: #FFF;
  --wine-color: #a1181a;
  --strong-whine-color: #1F1513;
  --gray-color: #E3DCCA;
}

